<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/libs/bootstrap/5.0.1/css/bootstrap.min.css">
<script src="/libs/bootstrap/5.0.1/js/bootstrap.min.js"></script>

{{$debugHref := Debug.QueryString}}

<link rel="stylesheet" href="/static/css/style.css{{$debugHref}}" type="text/css">
{{block "head" .}}{{end}}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ποδηλάτ-ισσ-ες</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Κεντρική</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/announce">Ανακοίνωση</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{block "content" .}}
<div class="container">
</div>
{{end}}

</body>
</html>


