.summary {
}

.title,
.title a {
	background: #29B473;
	color: white;
}

.page-prev {
	padding-right: 1em;
}

.page-next {
	padding-left: 1em;
}


.page-prev:before {content: "<<"}
.page-next:after {content: ">>"}

.announce {
	background: #D5DE2B;
	color: black;
}

.header .jumbotron h1 {
	font-size: 34px;
	letter-spacing: -1px;
	font-weight: 300;
	margin: 0 0 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto',helvetica,arial,sans-serif;
	font-style: normal;	
}

img{
    width:100%;
    max-width:600px;
}