{{$node := .node}}
{{$fields := (Drupal.Fields .node.Type)}}
{{$dateFormat := .DateTimeFormat}}

<div class="container">
<h1>{{$node.Title}}</h1>
<div class="date">{{F.FormatTime $node.Created $dateFormat}}</div>

{{range $i, $f := $fields}}
{{if (eq $f.Type "text_with_summary")}}
{{range $i, $b := $node.ValuesTextWithSummary "body" 1}}
<div>
{{$b.TextHTML}}
</div>
{{end}}
{{end}}
{{end}}

<table>
<tbody>
{{range $i, $f := $fields}}
{{if (eq $f.Type "text")}}
{{range $i, $s := $node.ValuesText $f.Name 0}}
<tr><td>{{$f.Label}}:</td><td>{{$s}}</tr></tr>
{{end}}
{{else if (eq $f.Type "number_float")}}
{{range $i, $v := $node.ValuesFloat $f.Name 0}}
<tr><td>{{$f.Label}}:</td><td>{{$v}}</tr></tr>
{{end}}
{{else if (eq $f.Type "number_integer")}}
{{range $i, $v := $node.ValuesInteger $f.Name 0}}
<tr><td>{{$f.Label}}:</td><td>{{$v}}</tr></tr>
{{end}}
{{end}}
{{end}}
</tbody>
</table>

{{$comments := $node.Comments}}
{{if (gt (len $comments) 0)}}
<div class="comments">
{{range $i, $c := $comments }}
<div class="title">{{$c.Subject}}</div>
<div><span class="author">{{$c.Author}}</span> <span class="date">{{F.FormatTime $c.Created $dateFormat}}</span></div>
<div class="body">
{{$c.TextHTML}}
</div>
{{end}}
</div>
{{end}}

</div>