{{$node := .node}}
{{$fields := (Drupal.Fields .node.Type)}}
{{$dateFormat := .DateTimeFormat}}

<div class="container">
<h1>{{$node.Title}}</h1>
<div class="date">{{F.FormatTime $node.Created $dateFormat}}</div>

{{range $i, $f := $fields}}
{{if (eq $f.Type "text_with_summary")}}
{{range $i, $b := $node.ValuesTextWithSummary "body" 1}}
<div>
{{$b.TextHTML}}
</div>
{{end}}
{{end}}
{{end}}

<table>
<tbody>
{{range $i, $f := $fields}}
{{if (eq $f.Type "text")}}
{{range $i, $s := $node.ValuesText $f.Name 0}}
<tr><td>{{$f.Label}}:</td><td>{{$s}}</tr></tr>
{{end}}
{{else if (eq $f.Type "number_float")}}
{{range $i, $v := $node.ValuesFloat $f.Name 0}}
<tr><td>{{$f.Label}}:</td><td>{{$v}}</tr></tr>
{{end}}
{{else if (eq $f.Type "number_integer")}}
{{range $i, $v := $node.ValuesInteger $f.Name 0}}
<tr><td>{{$f.Label}}:</td><td>{{$v}}</tr></tr>
{{end}}
{{end}}
{{end}}
</tbody>
</table>

{{$comments := $node.Comments}}
{{$page := (F.Page (F.Add (F.Int (F.First .R.URL.Query.page)) -1) .PageSize (len $comments))}}
{{if (gt (len $comments) 0)}}
<div class="comments">
{{range $i, $c := (F.CommentSlice $comments $page.Start $page.End) }}

<div class="title">{{$c.Subject}}</div>
<div><span class="author">{{$c.Author}}</span> <span class="date">{{F.FormatTime $c.Created $dateFormat}}</span></div>
<div class="body">
{{$c.TextHTML}}
</div>
{{end}}
</div>

<div class="pager">
{{$prev := "Προηγούμενη"}}
{{$next := "Επόμενη"}}
<span class="page-prev">{{if ($page.HasPrev)}}<a href="{{printf "/node/%d?page=%d" $node.Id $page.Page}}">{{$prev}}</a>{{else}}{{$prev}}{{end}}</span>
Σελίδα {{F.Add $page.Page 1}}/{{$page.Pages}}
<span class="page-next">{{if ($page.HasNext)}}<a href="{{printf "/node/%d?page=%d" $node.Id (F.Add $page.Page 2)}}">{{$next}}</a>{{else}}{{$next}}{{end}}</span>
</div>

{{end}}

</div>